<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
	<connectionStrings>
  <add name="MiConexion" connectionString="Server=DESKTOP-3VMTRMA;Database=ItcaPlus;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="ITCAPlus.Properties.Settings.MiConexion" connectionString="Data Source=DESKTOP-3VMTRMA;Initial Catalog=ItcaPlus;Integrated Security=True;Encrypt=False"
   providerName="Microsoft.Data.SqlClient" />
 </connectionStrings>
</configuration>
